@tailwind base;
@tailwind components;
@tailwind utilities;

/* Truncate title to a single line with ellipsis */
.truncate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
